    html {
        font-size: 18px;
        line-height: 1.4;
        font-family: Helvetica;
        /*background-color: lightgray;*/
        box-sizing: border-box;
    }
    /*Header Starts Here*/
    
    .header {
        /*border: 2px dashed limegreen;*/
        background-image: url("../images/glasses-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 30rem;
        width: 100%;
    }
    
    .nav-container {
        /*border: 1px dashed yellow;*/
        background-color: cadetblue;
        color: white;
        display: flex;
        font-family: Helvetica;
        font-size: 1rem;
        height: auto;
        justify-content: space-between;
        width: 960px;
        margin: 1rem auto 0;
    }
    
    .logo {
        /*border: 1px dashed yellow;*/
        align-items: center;
        display: flex;
    }
    
    .logo img {
        height: 1.5rem;
        margin: 0 1rem 0 2rem;
    }
    
    .menu {
        /*border: 1px dashed yellow;*/
    }
    
    .menu ul {
        /*border: 1px dashed yellow;*/
        margin: 1rem 2rem 1rem 0;
    }
    
    .menu ul li {
        display: inline-block;
    }
    
    .menu .products {
        margin: 0 2rem 0;
    }
    /*Main banner*/
    
    .banner-container {
        /*border: 2px dashed limegreen;*/
        display: flex;
        justify-content: flex-end;
        max-width: 960px;
        margin: 0 auto;
    }
    
    .main-banner {
        /*border: 1px solid red;*/
        background-color: white;
        display: inline-block;
        margin-right: -2rem;
        margin-top: 10rem;
        padding: 1.5rem 5rem;
    }
    
    .main-banner h1 {
        /*border: 1px solid blue;*/
        display: block;
        font-family: Helvetica;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.2;
        /*position: relative;
    right: 12rem;*/
        text-transform: uppercase;
    }
    /*Header end*/
    /*Account*/
    
    .about-container {
        /*border: 2px dashed limegreen;*/
        display: flex;
        justify-content: center;
        margin: 3rem auto;
        max-width: 960px;
    }
    
    .about {
        /*border: 2px dashed red;*/
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 1.2rem;
        margin: 3rem 3rem;
        width: 5rem;
    }
    
    .exams img {
        width: 3.5rem;
        margin-bottom: 1rem;
    }
    
    .exams p {
        /*border: 1px solid yellow;*/
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .fittings img {
        width: 4.5rem;
        margin-bottom: 1rem;
    }
    
    .fittings p {
        /*border: 1px solid yellow;*/
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .delivery img {
        width: 5rem;
        margin-bottom: 1rem;
    }
    
    .delivery p {
        /* border: 1px solid yellow;*/
        text-align: center;
        margin: 0;
        padding: 0;
    }
    /*Account End*/
    /*Info*/
    
    .info-container {
        /*border: 2px dashed limegreen;*/
        display: flex;
        justify-content: center;
        max-width: 960px;
        margin: 0 15%;
        margin-bottom: 5rem;
        font-family: Helvetica;
    }
    
    .philosophy {
        /*border: 1px solid blue;*/
        width: 35%;
        margin-right: 5%;
    }
    
    .appointments {
        /*border: 1px solid blue;*/
        width: 35%;
        margin-left: 5%;
    }
    
    .info-container p {
        /*border: 1px solid red;*/
        padding: 1rem 0;
        line-height: 1.4;
    }
    
    .heading {
        /*border: 1px solid blue;*/
        background-color: cadetblue;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        padding: .5rem 1.25rem;
        width: 10rem;
        text-transform: uppercase;
        text-align: center;
    }
    /*Info End*/
    /*Footer*/
    
    .footer-container {
        /* border: 2px dashed limegreen;*/
        display: flex;
        max-width: 960px;
        background-color: azure;
        margin: 0 auto;
    }
    
    .black-logo {
        /*border: 1px solid red;*/
        display: flex;
        align-items: center;
    }
    
    .black-logo img {
        height: 1.5rem;
        margin: 4rem 1rem 4rem 2rem;
    }
    /*Footer End*/
    /*Media Queries*/
    /*1024 Tablet*/
    
    @media only screen and (max-width: 1024px) {
        .header {
            /*border: 1px solid red;*/
            height: 22rem;
            width: 100%;
        }
        .nav-container {
            /*border: 2px dashed blue;*/
            margin: 0;
            width: 100%;
        }
        .main-banner {
            display: inline-block;
            margin-right: 2rem;
            margin-top: 5rem;
            padding: 1.5rem 4rem;
        }
        .main-banner h1 {
            font-size: 1.33rem;
        }
    }
    /*480 Mobile*/
    /*Header*/
    
    @media only screen and (min-width: 480px) {
        .mobile-menu {
            display: none;
        }
    }
    
    @media only screen and (max-width: 480px) {
        .header {
            /*border: 1px solid red;*/
            background-position: 20%;
            height: 17rem;
            width: 100%;
        }
        .nav-container {
            /*border: 2px dashed blue;*/
            margin: 0;
            padding: 1rem;
            width: 100%;
        }
        .main-banner {
            display: inline-block;
            margin-right: 2rem;
            margin-top: 5rem;
            padding: 1.5rem 4rem;
        }
        .main-banner h1 {
            font-size: 1.33rem;
        }
        .logo span {
            display: none;
        }
        .menu {
            display: none;
        }
        .mobile-menu {
            margin: auto 3rem;
            padding: 0;
            text-align: center;
        }
        .main-banner {
            font-size: 1rem;
            margin: 9rem auto .5rem;
            padding: 1rem 0;
            text-align: center;
            width: 100%;
        }
    }
    /*About*/
    
    @media only screen and (max-width: 480px) {
        .about-container {
            display: block;
            margin-bottom: .77rem;
            margin-top: 3.77rem;
            width: 100%;
            font-size: .77rem;
            line-height: 1;
            font-family: Helvetica;
        }
        .exams {
            width: 30%;
            margin: 0 auto;
            /*padding-bottom: 1.54rem;*/
        }
        .exams img {
            width: 3.5rem;
            margin-bottom: 0;
        }
        .exams p {
            text-align: center;
            margin: 1rem 0;
            padding: 0;
        }
        .fittings {
            width: 20%;
            margin: 0 auto;
            /*padding-bottom: 1.54rem;*/
        }
        .fittings img {
            width: 4.5rem;
            margin-bottom: 0;
        }
        .fittings p {
            text-align: center;
            margin: 1rem 0;
        }
        .delivery {
            width: 15%;
            margin: 0 auto
        }
        .delivery img {
            width: 5rem;
            margin-bottom: 0;
            margin-top: 0;
            padding: 0;
        }
        .delivery p {
            text-align: center;
            margin: 1rem 00;
        }
    }
    
    @media only screen and (max-width: 480px) {
        .info-container {
            display: block;
            font-family: Helvetica;
            font-size: .77rem;
            width: 100%;
            margin: auto;
        }
        .info-container .heading {
            display: block;
            margin: 0;
            padding: auto;
            text-align: center;
            text-transform: uppercase;
            width: 90%;
        }
        .info-container p {
            display: block;
            width: 90%;
            margin: 0 auto;
            line-height: 1rem;
        }
        .philosophy {
            display: block;
            margin: 0 auto 2rem;
            width: 90%;
        }
        .appointments {
            display: block;
            margin: 0 auto 2rem;
            width: 90%;
        }
    }
    
    @media only screen and (max-width: 480px) {
        .black-logo {
            display: block;
            margin: 0 auto;
        }
        .copyright {
            display: none;
        }
    }
